<div class="row" ng-app="AngulaRails" ng-controller="TacoOrderController">
  <div class="col-md-6">
    <h3>Add Taco to Order</h3>

    <form ng-submit="addTaco()">
      <div class="form-group">
        <label for="name">Name your creation</label>
        <input type="text" class="form-control" placeholder="Super Tasty" ng-model="taco.name"></input>
      </div>
      <div class="form-group">
        <label for="filling">Select your filling</label>
        <select ng-model="taco.filling" class="form-control">
          <option>Beef</option>
          <option>Chicken</option>
          <option>Fish</option>
        </select>
      </div>
      <button class="btn btn-primary">
       Submit
      </button>
    </form>
  </div>
  <div class="col-md-6">
    <h3>Your Order</h3>

    <table class="table">
      <tbody>
        <tr ng-repeat="taco in tacos">
          <td>{{ taco.name }}</td>
          <td>{{ taco.filling }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>